@import "fonts.scss";
@import "variables.scss";
@import "bower_components/bootstrap/scss/bootstrap.scss";
// bower:scss
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower
body {
  font-family: $primary-font;
  color: $darkgrey;
}


ul:not(.nav) {
  list-style: none;
  padding: 0;
  margin: 0;
}

//overwrite bootstrap
.navbar-brand {
  margin-right: 0;
  padding: 0;
}

.form-control {
  background-color: transparent;
  border-radius: 0;
  color: $white;
  padding: 0;
  padding: 12px 15px;
  &:focus,
  &:active {
    background-color: transparent;
    color: $white;
  }
  &::placeholder {
    color: $white;
    opacity: 1;
  }
}

.custom-checkbox {
  .custom-control-input {
    &:focus~.custom-control-label:before {
      box-shadow: $input-btn-yellow-focus-box-shadow;
    }
    &:checked~.custom-control-label:before {
      background-color: transparent;
    }
  }
  .custom-control-label:before {
    background-color: transparent;
    border: 1px solid $yellow;
    border-radius: 0;
  }
}

.form-group,
.custom-control {
  a {
    text-decoration: underline;
    color: inherit;
  }
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  align-items: center;
  .breadcrumb-item {
    font-size: .75em;
    a {
      color: $dark-blue;
    }
    &+.breadcrumb-item {
      color: $dark-blue;
      &:before {
        content: '>';
        color: $dark-blue;
        opacity: .9;
        font-size: 20px;
        line-height: 1em;
        vertical-align: bottom;
      }
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      border: none;
      padding: 0;
      font-size: 1.25em;
      color: #B3B3B4;
      display: block;
      min-width: 24px;
      min-height: 24px;
      text-align: center;
      line-height: 1em;
      margin: 0;
      &:hover {
        background-color: inherit;
      }
    }
    &.disabled {
      .page-link {
        color: $dark-blue;
        border: 1px solid $dark-blue;
        border-radius: 50%;
        font-weight: 600;
      }
    }
  }
}

//custom styles
.font-weight-semibold {
  font-weight: 600;
}

.section-header {
  font-size: 6.25em;
  font-weight: 600;
  color: $dark-blue;
  opacity: .75;
  &:before {
    content: '';
    display: block;
    height: 40px;
    width: 175px;
    background: transparent url('../images/icon/section-before.png') center center no-repeat;
  }
}

.header-info {
  padding-left: 0;
  padding-right: 0;
  padding-top: 1.125em;
}

.btn-fill {
  font-size: .875em;
  color: $black;
  font-weight: 700;
  padding: 10px 23px;
  border-radius: 30px;
  border: 2px solid transparent;
  background-color: $yellow;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: $yellow;
    border: 2px solid $yellow;
  }
}

.btn-empty {
  text-transform: uppercase;
  color: $yellow;
  border: 2px solid $yellow;
  font-weight: 700;
  padding: 10px 23px;
  border-radius: 30px;
  &:hover,
  &:active,
  &:focus {
    background-color: $yellow;
    border-color: transparent;
    color: $black;
  }
}

.bordered-text {
  border-left: 3px solid $yellow;
  padding-left: 30px;
}

header {
  z-index: 9;
  background-color: $header-bg;
  margin-bottom: 15px;
  .lang-nav {
    font-size: .75em;
    margin-right: 10px;
    li {
      a {
        display: block;
        color: $grey;
        transition: all .5s;
        &:hover {
          color: $yellow;
        }
      }
      &.active {
        a {
          color: $yellow;
          text-decoration: underline;
        }
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .header-social {
    margin-right: 10px;
    li {
      a {
        display: block;
        svg {
          width: 16px;
          height: 20px;
          display: block;
          fill: $grey;
          transition: all .5s;
        }
        &:hover {
          svg {
            fill: $yellow;
          }
        }
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .schedule {
    color: $grey;
    span {
      line-height: 1em;
    }
  }
  .slogan {
    color: $white;
    font-size: 1.125em;
  }
  .phone-tabs {
    margin-right: 10px;
    .nav-pills {
      .nav-link {
        border-radius: 0;
        padding: 0;
        color: $white;
        font-size: .812em;
        &.active {
          background-color: transparent;
          color: $yellow;
          text-decoration: underline;
        }
        &:not(:last-of-type) {
          margin-right: 7px;
        }
      }
    }
    .tab-content {
      .tab-pane {
        font-size: 1.125em;
        text-align: center;
        color: $white;
      }
    }
  }
  .main-menu {
    padding-bottom: 1.5rem;
    .navbar-nav {
      flex-direction: row;
      li {
        a {
          color: $white;
          font-size: 1.125em;
          padding: 0;
          padding-bottom: .875rem;
          border-bottom: 2px solid transparent;
          &:hover {
            border-bottom: 2px solid $yellow;
          }
        }
        &:not(:last-of-type) {
          margin-right: 40px;
        }
        &.active {
          a {
            border-bottom: 2px solid $yellow;
          }
        }
      }
    }
  }
  &.main-page {
    position: absolute;
    width: 100%;
    box-shadow: inset 0px 110px 100px -45px rgba(0, 0, 0, 0.75);
  }
}

.main-carousel {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  z-index: 8;
  .carousel-indicators {
    bottom: 100px;
    margin-bottom: 0;
    li {
      width: 16px;
      height: 16px;
      border: 2px solid $white;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
      &.active {
        background-color: $white;
      }
    }
  }
  .carousel-caption {
    bottom: 120px;
    h5 {
      font-size: 3em;
      margin-bottom: 20px;
    }
    p {
      margin: 0 auto 35px;
      width: 620px;
    }
    .more-details {
      font-size: .875em;
    }
  }
}

.about-us-main-page {
  position: relative;
  top: -60px;
  margin-bottom: -60px;
  .about-us-main-page-img {
    margin-right: 50px;
    flex-shrink: 0;
    overflow: hidden;
    img {
      display: block;
      max-width: 120%;
      min-width: 100%;
      height: 100%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .about-us-main-page-text {
    padding-top: 60px;
    max-width: 535px;
    .section-header {
      margin-bottom: 16px;
    }
    p {
      &:last-of-type {
        margin-bottom: 45px;
      }
    }
  }
}

.advantages-main-page {
  background-color: $light-grey;
  position: relative;
  padding-top: 90px;
  padding-bottom: 50px;
  .triangle {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: -60px;
    left: 0;
    border-color: transparent transparent transparent $light-grey;
    border-width: 60px 0 0 200px;
    &.triangle-right {
      left: inherit;
      top: 0;
      right: 0;
      border-width: 0 200px 60px 0;
      border-color: transparent $white transparent transparent;
      z-index: 9;
    }
  }
  .section-header {
    margin-bottom: 50px;
  }
}

.advantages-list {
  li {
    .icon {
      display: block;
      width: 50px;
      height: 50px;
      background-color: $yellow;
      border-radius: 50%;
      position: relative;
      margin: 0 auto 20px;
      &:before {
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        background: transparent center center no-repeat;
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
      }
      &.icon-trophy:before {
        background-image: url('../images/icon/trophy.svg');
      }
      &.icon-research:before {
        background-image: url('../images/icon/research.svg');
      }
      &.icon-documents-security:before {
        background-image: url('../images/icon/documents-security.svg');
      }
      &.icon-customer-support:before {
        background-image: url('../images/icon/customer-support.svg');
      }
      &.icon-target:before {
        background-image: url('../images/icon/target.svg');
      }
    }
    p {
      max-width: 185px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.individual-consultation {
  background: transparent url('../images/individual-consultation-bg.jpg') center bottom no-repeat;
  background-size: cover; //background-attachment: fixed;
  padding-top: 60px;
  padding-bottom: 75px;
  color: $white;
  .individual-consultation-header {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
  }
  form {
    .submit-btn {
      display: block;
      margin: 40px auto 0;
    }
  }
}

.how-work-main-page {
  padding-top: 50px;
  .section-header {
    margin-bottom: 65px;
  }
  .how-work-list {
    counter-reset: item;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 50px;
    li {
      width: 33.3%;
      position: relative;
      padding-left: 165px;
      min-height: 115px;
      margin-bottom: 50px;
      p {
        max-width: 161px;
        font-weight: 600;
        color: #45474F;
      }
      &:before {
        counter-increment: item;
        content: "0" counter(item) " ";
        font-family: $secondary-font;
        font-size: 130px;
        line-height: 50px;
        height: 100px;
        color: #DFDDD8;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .icon {
      display: block;
      width: 51px;
      height: 49px;
      margin-bottom: 15px;
    }
  }
}

.reviews-main-page {
  padding-bottom: 60px;
  .section-header {
    margin-bottom: 25px;
  }
  .reviews-main-page-slider {
    margin: 0 -15px 35px;
    .slick-dots {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      li {
        button {
          display: block;
          text-indent: -9999px;
          cursor: pointer;
          padding: 0;
          border: 2px solid #ccc;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: transparent;
          outline: none;
        }
        &.slick-active {
          button {
            background-color: #ccc;
          }
        }
        &:not(:last-child) {
          margin-right: 7px;
        }
      }
    }
  }
  .reviews-main-page-slider-item {
    display: flex!important;
    padding: 25px 35px;
    margin: 0 15px 35px;
    border: 1px solid $border-grey;
    position: relative;
    .reviews-main-page-slider-photo {
      position: relative;
      margin-right: 20px;
      .reviews-main-page-slider-img-link {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background: $white url('../images/icon/facebook.svg') center center no-repeat;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        border: 5px solid $white;
        border-radius: 5px;
      }
    }
    .reviews-main-page-slider-img {
      width: 160px;
      height: 160px;
      flex-shrink: 0;
      border-radius: 50%;
      overflow: hidden;
      img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 120%;
        max-height: 110%;
      }
    }
    .reviews-main-page-slider-text {
      width: 100%;
      padding-top: 10px;
      .reviews-main-page-slider-text-author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5em;
        font-weight: 600;
        color: $black;
        time {
          font-size: .583em;
          color: #979797;
        }
      }
      .reviews-main-page-slider-text-review {
        color: $dark-blue;
        font-size: .875em;
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -35px;
      left: 45px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 35px 35px 0 0;
      border-color: $border-grey transparent transparent transparent;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -32px;
      left: 46px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 33px 33px 0 0;
      border-color: $white transparent transparent transparent;
      z-index: 1;
    }
  }
}

.main-page-prices {
  padding: 60px 0;
  background: transparent url('../images/prices-bg.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $white;
  margin-bottom: 60px;
  .section-header {
    color: inherit;
    opacity: 1;
    margin-bottom: 40px;
  }
  .main-page-prices-item {
    position: relative;
    margin-bottom: 30px;
    .main-page-prices-img {
      width: 370px;
      height: 250px;
      overflow: hidden;
      position: relative;
      img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 120%;
        height: 100%;
      }
      .main-page-prices-name {
        position: absolute;
        background-color: #22242E;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 95px;
        padding: 10px 20px 10px 20px;
        clip-path: polygon(0 0, 100% 33%, 100% 100%, 0% 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.125em;
        .main-page-prices-price {
          color: $yellow;
          flex-shrink: 0;
          margin-left: 24px;
          font-size: 1.666em;
          i {
            font-style: normal;
            font-size: 0.466em;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .more-details {
    display: inline-block;
    margin-top: 30px;
  }
}

.main-page-news {
  margin-bottom: 65px;
  .section-header {
    margin-bottom: 30px;
  }
  .btn-wrap {
    border-bottom: 1px solid $border-grey;
    padding-bottom: 60px;
  }
}

.main-page-news-item {
  display: block;
  margin-bottom: 40px;
  .main-page-news-item-img {
    height: 200px;
    overflow: hidden;
    img {
      position: relative;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 120%;
      height: 100%;
    }
  }
  .main-page-news-item-name {
    border: 1px solid $border-grey;
    border-top: none;
    color: #4D5369;
    font-weight: 600;
    padding: 15px;
    time {
      display: block;
      font-size: .875em;
      font-weight: 400;
      color: #ccc;
      margin-top: 7px;
      text-decoration: none;
    }
  }
  &:hover {
    time {
      text-decoration: none;
    }
  }
}

.add-info {
  color: #4D5369;
  margin-bottom: 60px;
  .add-info-wrap {
    column-count: 2;
    column-gap: 40px;
    h5 {
      font-size: 1.25em;
      margin-bottom: 30px;
      font-weight: 600;
    }
    p {
      font-size: .875em;
    }
    ul {
      font-size: .875em;
      margin-bottom: 1rem;
      li {
        &:before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $yellow;
          margin-right: 10px;
        }
      }
    }
  }
}

footer {
  background: transparent url('../images/footer-bg.jpg') center center no-repeat;
  background-size: cover;
  padding: 60px 0;
  color: $white;
  .footer-form {
    .footer-header {
      text-align: center;
      font-size: 3em;
      font-weight: 600;
      line-height: 1em;
    }
    .footer-underheader {
      text-align: center;
      margin-bottom: 25px;
    }
    form {
      padding: 0 45px;
      .form-group {
        margin-bottom: 20px;
      }
      .custom-checkbox {
        margin-bottom: 25px;
      }
      .submit-btn {
        display: block;
        margin: 0 auto;
      }
    }
  }
  .footer-info {
    .footer-nav {
      display: flex;
      margin-bottom: 45px;
      .footer-brand {
        margin-right: 55px;
      }
      .footer-menu {
        column-count: 2;
        li {
          a {
            color: $white;
          }
        }
      }
    }
    .footer-address {
      li {
        position: relative;
        padding-left: 30px;
        span {
          display: block;
          color: #BFBFBF;
        }
        i {
          font-style: normal;
          display: inline-block;
          margin-right: 20px;
          font-size: .875em;
        }
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 5px;
          width: 13px;
          height: 18px;
          background: transparent url('../images/icon/map-icon.svg') center center no-repeat;
        }
      }
    }
  }
}

.breadcrumb-section {
  margin-bottom: 40px;
}

.price-page {
  margin-bottom: 55px;
  .section-header {
    margin-bottom: 30px;
  }
  .price-page-wrap {
    padding-bottom: 5px;
    border-bottom: 1px solid $border-grey;
  }
  .price-page-item {
    margin-bottom: 30px;
    .price-page-item-text {
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
      min-height: 95px;
      border: 1px solid $border-grey;
      align-items: center;
      text-decoration: none;
      transition: all .5s;
      .price-page-item-name {
        font-size: 1.125em;
        font-weight: 600;
        margin-right: 15px;
        color: $dark-blue;
        line-height: 1em;
      }
      .price-page-item-price {
        color: $yellow;
        flex-shrink: 0;
        margin-left: 24px;
        font-size: 1.666em;
        i {
          font-style: normal;
          font-size: 0.466em;
          text-transform: uppercase;
        }
      }
      &:hover {
        border-color: $dark-blue;
      }
    }
  }
}

.how-work-page {
  padding-bottom: 20px;
  border-bottom: 1px solid $border-grey;
  margin-bottom: 40px;
  .section-header {
    margin-bottom: 40px;
  }
  .col {
    margin-bottom: 30px;
    position: relative;
    .how-work-page-item {
      border: 1px solid $border-grey;
      border-radius: 10px;
      padding: 35px;
      display: flex;
      .how-work-page-number {
        font-family: $secondary-font;
        font-size: 130px;
        color: #DFDDD8;
        opacity: .4;
        line-height: 1em;
        position: relative;
        top: -45px;
        margin-right: 15px;
      }
      .how-work-page-text {
        p {
          display: flex;
          align-items: center;
          font-size: 1.25em;
          font-weight: 600;
          line-height: 1em;
          .icon {
            display: block;
            width: 51px;
            height: 49px;
            margin-right: 20px;
          }
        }
        .how-work-page-text-desc {
          color: #B9B9B9;
        }
      }
    }
    &:nth-of-type(2n+1) {
      &:before {
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        width: 30px;
        height: 1px;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        background-color: $border-grey;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        width: 30px;
        height: 1px;
      }
    }
    &:nth-of-type(4n+2) {
      &:before {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 30px;
      }
    }
    &:nth-of-type(4n+3) {
      &:before {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 30px;
      }
    }
    &:nth-last-of-type(2) {
      &:before {
        display: none !important;
      }
    }
    &:nth-last-of-type(1) {
      &:before {
        display: none !important;
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      background-color: $border-grey;
    }
  }
}

.faq {
  margin-bottom: 60px;
  .section-header {
    font-size: 4.5em;
    margin-bottom: 40px;
  }
  .accordion {
    .card {
      margin-bottom: 20px;
      border-radius: 0;
      .card-header {
        padding: 0;
        border-bottom: none;
        background-color: $white;
        h5 {
          button {
            font-size: .9em;
            color: $black;
            padding: 0;
            border: none;
            display: flex;
            align-items: center;
            width: 100%;
            background-color: #FCF6E5;
            text-decoration: none;
            transition: all .5s;
            .plus {
              position: relative;
              width: 50px;
              height: 50px;
              background-color: $yellow;
              margin-right: 25px;
              &:before,
              &:after {
                content: '';
                display: block;
                position: absolute;
                background-color: $white;
              }
              &:before {
                opacity: 0;
                visibility: hidden;
                transition: all .5s;
                width: 4px;
                height: 30px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              &:after {
                width: 30px;
                height: 4px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
            &.collapsed {
              background-color: $white;
              .plus {
                background-color: $border-grey;
                &:before {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
      .card-body {
        font-size: .875em;
        color: #999999;
        padding-left: 75px;
      }
    }
  }
}

.about-us-page {
  margin-bottom: 100px;
  .section-header {
    margin-bottom: 40px;
  }
  .about-us-text {
    color: $dark-blue;
    .about-us-img {
      float: left;
      display: block;
      margin-right: 30px;
    }
  }
}

.our-achievement {
  .section-header {
    margin-bottom: 40px;
  }
  .advantages-list {
    margin-bottom: 65px;
    li {
      .icon {
        background-color: $light-grey;
        &.icon-trophy:before {
          background-image: url(../images/icon/trophy-yellow.svg);
        }
        &.icon-research:before {
          background-image: url(../images/icon/research-yellow.svg);
        }
        &.icon-documents-security:before {
          background-image: url(../images/icon/documents-security-yellow.svg);
        }
        &.icon-customer-support:before {
          background-image: url(../images/icon/customer-support-yellow.svg);
        }
        &.icon-target:before {
          background-image: url(../images/icon/target-yellow.svg);
        }
      }
      p {
        font-weight: 600;
        color: #5B6074;
      }
    }
  }
}

.work-with-section {
  .section-header {
    margin-bottom: 35px;
  }
  .work-with-item {
    display: flex;
    .work-with-img {
      margin-right: 30px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 20px;
        width: 100%;
        height: 280px;
        background-color: $border-grey;
        z-index: -1;
      }
    }
    .work-with-text {
      color: $dark-blue;
      .work-with-name {
        font-weight: 600;
        font-size: 1.25em;
        max-width: 200px;
      }
    }
  }
}

.review-page {
  .section-header {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 30px;
    margin-bottom: 30px;
    .btn {
      display: inline-block;
      margin-left: auto;
    }
    &:before {
      position: absolute;
      top: 0;
    }
  }
  .review-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    .review-item-photo {
      position: relative;
      margin-right: 55px;
      .review-item-img {
        width: 160px;
        height: 160px;
        flex-shrink: 0;
        border-radius: 50%;
        overflow: hidden;
        img {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .review-item-img-link {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background: $white url('../images/icon/facebook.svg') center center no-repeat;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        border: 5px solid $white;
        border-radius: 5px;
      }
    }
    .review-item-text {
      border: 1px solid $border-grey;
      padding: 35px 45px;
      position: relative;
      .author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5em;
        font-weight: 600;
        color: $black;
        time {
          font-size: .583em;
          color: #979797;
        }
      }
      .review-item-review-text {
        color: $dark-blue;
        font-size: .875em;
        margin: 0;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 13px 20px 13px 0;
        border-color: transparent $yellow transparent transparent;
      }
    }
  }
}

.pagination-nav {
  margin-bottom: 40px;
}

.news-page {
  .section-header {
    margin-bottom: 30px;
  }
}

.contact-page {
  .contact-item {
    display: flex;
    padding: 15px;
    border: 1px solid $border-grey;
    margin-bottom: 30px;
    .contact-item-text {
      width: 370px;
      flex-shrink: 0;
      margin-right: 20px;
      .city {
        font-size: 1.5em;
        font-weight: 600;
        color: $dark-blue;
      }
      .address {
        color: $black;
        position: relative;
        padding-left: 30px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          width: 13px;
          height: 18px;
          background: transparent url('../images/icon/map-icon.svg') center center no-repeat;
          top: 5px;
        }
      }
      .telephones {
        margin-bottom: 1em;
        padding-left: 30px;
        color: $black;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 5px;
          left: 0;
          width: 18px;
          height: 18px;
          background: transparent url('../images/icon/telephone.svg') center center no-repeat;
        }
      }
      .schedule {
        padding-left: 30px;
        position: relative;
        color: $black;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 5px;
          width: 16px;
          height: 16px;
          background: transparent url('../images/icon/time.svg') center center no-repeat;
        }
      }
    }
    .contact-item-map {
      width: 100%;
      iframe {
        display: block;
        width: 100%;
        height: 250px;
      }
    }
  }
  .contact-add-info {
    color: $black;
  }
}

.price-page-item {
  color: $dark-blue;
  padding-bottom: 60px;
  h4 {
    color: $dark-blue;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .price-page-img {
    float: left;
    display: block;
    margin-right: 30px;
  }
  iframe {
    width: 830px;
    height: 400px;
    display: block;
    margin: 0 auto 1em;
  }
  .price-page-item-price {
    font-size: 1.25em;
    font-weight: 600;
    span {
      color: $yellow;
      font-weight: 400;
      font-size: 1.4em;
    }
    i {
      font-style: normal;
      font-size: 0.5em;
      text-transform: uppercase;
    }
  }
}

.news-item-page {
  .news-item-body {
    color: $dark-blue;
    h4 {
      font-weight: 600;
    }
    .news-item-img-main{
    	display: block;
    	width: 100%;
    	margin-bottom: 30px;
    }
    .add-img{
    	float: right;
    	display: block;
    	margin-left: 20px;
    }
  }
  .add-news {
    h4 {
      text-transform: uppercase;
      color: $dark-blue;
      font-weight: 600;
      margin-bottom: 25px;
    }
  }
}
